extends layout
block content 
    h2 Courses  
    p There are #{courses.length} courses in the system.
    ul 
        each course in courses 
            li
                a(href=`/courses/${course.id}`) #{course.name}