extends layout
block content 
    h2 Students   
    p There are #{students.length} students in the system.
    ul 
        each student in students 
            li
                a(href=`/students/${student.id}`) #{student.name}