@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;600&display=swap');

* {
  font-family: 'Work Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #080808;
}
